    .linkList {
        color: #006ec4;
        text-decoration: none;
        font-family: Verdana;
        font-weight: bold;
        font-size: 11.5px;
        line-height: 22px;
    }

    .optiontable, .optiontable TD 
    {
        font-family:verdana;
        font-size: 11px;
    }
    


    a:link, a:visited {
        color: #006ec4;
        text-decoration: none;
        font-family: Verdana;
        font-weight: bold;
        font-size: 10px;
    }
    
    a:link.linkperso {
        color: #413F3F;
        text-decoration: none;
        font-family: Verdana;
        font-size: 10px;
    }
    
    .linkperso:visited {
        color: #413F3F;
        text-decoration: none;
        font-family: Verdana;
        font-size: 10px;
    }
    .smLink {
        color: #006ec4;
        text-decoration: none;
        font-family: Verdana;
        font-size: 10px;
        font-weight: bold;
    }
    .lgLink {
        color: #006ec4;
        text-decoration: none;
        font-family: Verdana;
        font-size: 13px;
        font-weight: bold;
    }
    
    
    A:hover {
        color: #ff5500;
        text-decoration: none;
    }
    
    table {
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    
    #tmn-table-header{
        padding:1px 0;
        border:1px solid #608925;

        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius:2px;
        text-decoration: none;
      }
    
    button, button:visited {
        display:block;
        background: #E6EAE2;
        width: 90px;
        padding:1px 0;
        border:1px solid #608925;
        font-size: 11px;
        text-align:center;
        color:#00446D;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        text-decoration: none;
        opacity:.85;
      }
      
      button:hover {
        border-color:#49671d;
      }
      
      button:active {
        padding:2px 0 ;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
      }

    
    DIV.block {text-align:justify}